body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    height: 600px;
}

th, td {
    border: 2px solid #0c0a0a;
    
    text-align: center;
}

.room {
    display: flex;
    justify-content: end;
}

h2 {
    text-align: center;
    line-height: 10px;
}

.full-table {
    margin-left: 100px;
    margin-right: 100px;
}

.subject-info {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
   
    box-shadow: 0 4px 6px rgba(255, 94, 98, 0.5); 
    display: none;
    text-align: center; 
    color: #fff; 
    position: relative; 
}


.subject-info::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ff5e62; 
}

.subject-info h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.subject-info p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.subject-info h4{

    font-size: 18px;
}


.subject-info:after {
    content: '';
    display: block;
    height: 20px; 
}
.subject-info:hover {
    transform: translateY(-10px);
}

.subject-info:hover::after {
    transform: scale(1.5);
}


.subject-info iframe {
    border: 5px solid #fff; 
    border-radius: 18px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-right: 20px; 
}


td:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 10px rgba(17, 0, 255, 0.8); 
    transition: box-shadow 0.1s ease; 
}

td:active {
    transform: translate(2px, 2px); 
    transition: transform 0.2s ease; 
}

td[data-subject="WT"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(255, 0, 0, 0.8); 
}

td[data-subject="TGK"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(42, 142, 100, 0.8); 
}

td[data-subject="SS"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(184, 74, 194, 0.8); 
}

td[data-subject="BDaA"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(67, 67, 12, 0.8); 
}

td[data-subject="ITCAS"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(15, 152, 15, 0.578); 
}

td[data-subject="SESS"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(0, 76, 255, 0.8); 
}

td[data-subject="CN"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(193, 157, 0, 0.8); 
}

td[data-subject="UHBNAEC"]:hover {
    box-shadow: 0px 0px 20px 10px rgba(128, 0, 128, 0.8);
}
